img[alt="home icon"] {
    width: 24px;
}

.options {
    gap: 4vh;
}



.middle img {
    height: 300px;
    margin-top: 6vh;
    border-radius: 10px;
    margin-bottom: 10vh;
}

.middle {
    width: 90vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.middle ul {
    color: white;
    list-style: none;
    line-height: 4vh;
    font-size: 24px;
}


.middle ul, .empty {
    width: 13vw;
}

.high-score {
    color: rgb(225, 197, 100);
}

.current-score {
    color: rgb(0, 150, 137);
}

.next {
    color: white;
    align-self: flex-end;
    text-align: center;
    padding: 1vh;
    background-color: rgb(30, 41, 56);
    border-radius: 15px;
    border: 1px solid rgb(0, 150, 137);
    visibility: hidden;
}

.bottom {
    width: 80vw;
    display: flex;
    justify-content: space-between;
}

.bottom > .empty, .next {
    width: 7vw;
}